/*google font*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* jumbo */
.jumbotron {
  background-image: url('../img/sumba.jpg');
  /* background-color: #00a8a8; */
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: #fff;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  font-size: 30px;
  margin-bottom: 30px;
  text-align: left;
}
.jumbotron .display-4 span {
  font-weight: 500;
}
/* akhir jumbo */
.navbar {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.menu {
  display: inline-block;
}

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}
.nav-link {
  margin-right: 30px;
}

.tombol {
  text-transform: uppercase;
  margin-left: -15px;
  margin-right: 26px;
  border-radius: 88px;
}
.buttons {
  text-transform: uppercase;
  border-radius: 88px;
  margin-left: -15px;
  margin-right: 26px;
}

.container h4 {
  font-weight: bold;
}

.workingspace {
  /* text-align: center; */
  margin-bottom: 30px;
}

.workingspace h6 {
  font-weight: 200;
  text-transform: uppercase;
  color: #090f0f;
}

.btn-tombol {
  margin-top: 23px;
}
.workingspace p {
  font-size: 15px;
  color: #525757;
  font-weight: 200px;
}

.rangka {
  margin-top: 10px;
}

.services {
  text-align: center;
}
.services h1 {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #0b63dc;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
.service {
  display: inline-block;
  width: calc(100% / 4);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}
.service:hover {
  background: #ddd;
}
.service i {
  color: #3498db;
  font-size: 34px;
  margin-bottom: 30px;
}
.service h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.service p {
  color: black;
  font-size: 15px;
  font-weight: 500;
}
.service img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 10px;
}
.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 11px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: #00a8a8;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

section {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.footer-distributed {
  background: #343a40;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Viga', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: '|';
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}

/* dekstop */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: #fff !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }
}
